<DModalBody class="assign">
  <div>
    <div class="control-group {{if this.assigneeError 'assignee-error'}}">
      <label>{{i18n "discourse_assign.assign_modal.assignee_label"}}</label>
      <AssigneeChooser
        autocomplete="off"
        @value={{this.assigneeName}}
        @onChange={{this.assignUsername}}
        autofocus="autofocus"
        @showUserStatus={{true}}
        @options={{hash
          mobilePlacementStrategy="absolute"
          filterPlaceholder=this.placeholderKey
          includeGroups=true
          customSearchOptions=(hash
            assignableGroups=true defaultSearchResults=this.assignSuggestions
          )
          groupMembersOf=this.allowedGroups
          maximum=1
          autofocus=this.autofocus
          tabindex=1
          expandedOnInsert=(not this.assigneeName)
          caretUpIcon="search"
          caretDownIcon="search"
        }}
      />
      {{#if this.assigneeError}}
        <span class="error-label">
          {{d-icon "exclamation-triangle"}}
          {{i18n "discourse_assign.assign_modal.choose_assignee"}}
        </span>
      {{/if}}
    </div>

    {{#if this.statusEnabled}}
      <div class="control-group assign-status">
        <label>{{i18n "discourse_assign.assign_modal.status_label"}}</label>
        <ComboBox
          @id="assign-status"
          @content={{this.availableStatuses}}
          @value={{this.status}}
          @onChange={{action (mut this.model.status)}}
        />
      </div>
    {{/if}}

    <div class="control-group assign-status">
      <label>
        {{i18n "discourse_assign.assign_modal.note_label"}}&nbsp;<span
          class="label-optional"
        >{{i18n "discourse_assign.assign_modal.optional_label"}}</span>
      </label>
      <Textarea
        id="assign-modal-note"
        @value={{this.model.note}}
        {{! template-lint-disable no-down-event-binding }}
        {{on "keydown" (action "handleTextAreaKeydown")}}
      />
    </div>
  </div>
</DModalBody>

<div class="modal-footer">
  <DButton
    @label={{if
      this.model.reassign
      "discourse_assign.reassign.title"
      "discourse_assign.assign_modal.assign"
    }}
    @icon={{this.inviteIcon}}
    @action={{this.assign}}
    class="btn-primary"
    @disabled={{this.disabled}}
  />
  <DModalCancel @close={{route-action "closeModal"}} />
</div>