{{#d-modal-body title="discourse_assign.assign_modal.title" class="assign"}}
  <div>
    {{i18n "discourse_assign.assign_modal.description"}}
    {{email-group-user-chooser
      autocomplete="off"
      autofocus="autofocus"
      value=model.username
      onChange=(action "updateUsername")
      options=(hash
        filterPlaceholder=placeholderKey
        includeGroups=false
        groupMembersOf=allowedGroups
        maximum=1
      )
    }}
    <div class="assign-suggestions">
      {{#each assignSuggestions as |user|}}
        <a href {{action "assignUser" user}}>
          {{avatar user imageSize="small"}}
        </a>
      {{/each}}
    </div>
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    label="discourse_assign.assign_modal.assign"
    icon=inviteIcon action=(action "assign")
    class="btn-primary"
    disabled=disabled
  }}
</div>
