<DModalBody class="assign">
  <div>
    <div class="control-group {{if this.assigneeError 'assignee-error'}}">
      <label>{{i18n "discourse_assign.assign_modal.assignee_label"}}</label>
      {{assignee-chooser
        autocomplete="off"
        value=assigneeName
        onChange=(action "assignUsername")
        autofocus="autofocus"
        showUserStatus=true
        caretIcon="search"
        options=(hash
          mobilePlacementStrategy="absolute"
          filterPlaceholder=placeholderKey
          includeGroups=true
          customSearchOptions=(hash
            assignableGroups=true defaultSearchResults=this.assignSuggestions
          )
          groupMembersOf=allowedGroups
          maximum=1
          autofocus=autofocus
          tabindex=1
          expandedOnInsert=(not assigneeName)
        )
      }}
      {{#if this.assigneeError}}
        <span class="error-label">
          {{d-icon "exclamation-triangle"}}
          {{i18n "discourse_assign.assign_modal.choose_assignee"}}
        </span>
      {{/if}}
    </div>

    {{#if this.statusEnabled}}
      <div class="control-group assign-status">
        <label>{{i18n "discourse_assign.assign_modal.status_label"}}</label>
        <ComboBox
          @id="assign-status"
          @content={{availableStatuses}}
          @value={{status}}
          @onChange={{action (mut model.status)}}
        />
      </div>
    {{/if}}

    <div class="control-group assign-status">
      <label>
        {{i18n "discourse_assign.assign_modal.note_label"}}&nbsp;<span
          class="label-optional"
        >{{i18n "discourse_assign.assign_modal.optional_label"}}</span>
      </label>
      <Textarea
        id={{"assign-modal-note"}}
        @value={{model.note}}
        {{! template-lint-disable no-down-event-binding }}
        {{on "keydown" (action "handleTextAreaKeydown")}}
      />
    </div>
  </div>
</DModalBody>

<div class="modal-footer">
  <DButton
    @label={{if
      model.reassign
      "discourse_assign.reassign.title"
      "discourse_assign.assign_modal.assign"
    }}
    @icon={{inviteIcon}}
    @action={{this.assign}}
    class="btn-primary"
    @disabled={{disabled}}
  />
  <DModalCancel @close={{route-action "closeModal"}} />
</div>