{{#d-modal-body class="assign"}}
  <div>
    <p>{{i18n model.description}}</p>
    {{email-group-user-chooser
      autocomplete="off"
      value=assigneeName
      onChange=(action "assignUsername")
      autofocus="autofocus"
      options=(hash
        mobilePlacementStrategy="absolute"
        filterPlaceholder=placeholderKey
        includeGroups=true
        customSearchOptions=(hash assignableGroups=true)
        groupMembersOf=allowedGroups
        maximum=1
        autofocus=autofocus
        tabindex=1
      )
    }}
    <div class="assign-suggestions">
      {{#each assignSuggestions as |user|}}
        <a href {{action "assignUser" user.username }}>
          {{avatar user imageSize="small"}}
          {{decorate-username-selector user.username}}
        </a>
      {{/each}}
    </div>
    <label>{{i18n "discourse_assign.assign_modal.note_label"}}</label>
    {{textarea value=model.note}}
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    label= (if model.reassign "discourse_assign.reassign.title" "discourse_assign.assign_modal.assign")
    icon=inviteIcon
    action=(action "assign")
    class="btn-primary"
    disabled=disabled
  }}
</div>
