{{#d-modal-body title=(concat "discourse_assign.assign" i18nSuffix ".title") class="assign"}}
  <div>
    <p>{{i18n (concat "discourse_assign.assign" i18nSuffix ".description")}}</p>
    {{email-group-user-chooser
      autocomplete="off"
      value=assigneeName
      onChange=(action "assignUsername")
      autofocus="autofocus"
      options=(hash
        placementStrategy="absolute"
        filterPlaceholder=placeholderKey
        includeGroups=true
        assignableGroups=true
        groupMembersOf=allowedGroups
        maximum=1
        autofocus=autofocus
        tabindex=1
      )
    }}
    <div class="assign-suggestions">
      {{#each assignSuggestions as |user|}}
        <a href {{action "assignUser" user.username }}>
          {{avatar user imageSize="small"}}
        </a>
      {{/each}}
    </div>
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{#if model.reassign}}
    {{d-button
      label="discourse_assign.reassign.title"
      icon=inviteIcon
      action=(action "reassign")
      class="btn-primary"
      disabled=disabled
    }}
  {{else}}
    {{d-button
      label="discourse_assign.assign_modal.assign"
      icon=inviteIcon
      action=(action "assign")
      class="btn-primary"
      disabled=disabled
    }}
  {{/if}}
</div>
