<section class="user-secondary-navigation group-assignments">
  <MobileNav
    @class="activity-nav"
    @desktopClass="action-list activity-list nav-stacked"
  >
    {{#if this.isDesktop}}
      <div class="search-div">
        <Input
          @type="text"
          placeholder={{i18n
            "discourse_assign.sidebar_name_filter_placeholder"
          }}
          @value={{readonly this.filterName}}
          class="search"
          {{on "input" (action this.onChangeFilterName value="target.value")}}
        />
      </div>
    {{/if}}

    <LoadMore @selector=".activity-nav li" @action={{action "loadMore"}}>
      <GroupAssignedFilter
        @showAvatar={{false}}
        @filter="everyone"
        @routeType={{this.route_type}}
        @assignmentCount={{this.group.assignment_count}}
        @search={{this.search}}
        @ascending={{this.ascending}}
        @order={{this.order}}
      />

      <GroupAssignedFilter
        @showAvatar={{false}}
        @groupName={{this.group.name}}
        @filter={{this.group.name}}
        @routeType={{this.route_type}}
        @assignmentCount={{this.group.group_assignment_count}}
        @search={{this.search}}
        @ascending={{this.ascending}}
        @order={{this.order}}
      />

      {{#each this.members as |member|}}
        <GroupAssignedFilter
          @showAvatar={{true}}
          @filter={{member}}
          @routeType={{this.route_type}}
          @search={{this.search}}
          @ascending={{this.ascending}}
          @order={{this.order}}
        />
      {{/each}}

      <ConditionalLoadingSpinner @condition={{this.loading}} />
    </LoadMore>
  </MobileNav>
</section>

<section class="user-content">
  {{outlet}}
</section>