<section class="user-secondary-navigation group-assignments">
  <MobileNav
    @class="activity-nav"
    @desktopClass="action-list activity-list nav-stacked"
  >
    {{#if isDesktop}}
      <div class="search-div">
        <Input
          @type="text"
          placeholder={{i18n
            "discourse_assign.sidebar_name_filter_placeholder"
          }}
          @value={{readonly filterName}}
          class="search"
          {{on "input" (action "onChangeFilterName" value="target.value")}}
        />
      </div>
    {{/if}}
    <LoadMore @selector=".activity-nav li" @action={{action "loadMore"}}>
      {{group-assigned-filter
        showAvatar=false
        filter="everyone"
        routeType=route_type
        assignmentCount=group.assignment_count
        search=search
        ascending=ascending
        order=order
      }}
      {{group-assigned-filter
        showAvatar=false
        groupName=group.name
        filter=group.name
        routeType=route_type
        assignmentCount=group.group_assignment_count
        search=search
        ascending=ascending
        order=order
      }}
      {{#each members as |member|}}
        {{group-assigned-filter
          showAvatar=true
          filter=member
          routeType=route_type
          search=search
          ascending=ascending
          order=order
        }}
      {{/each}}
      <ConditionalLoadingSpinner @condition={{loading}} />
    </LoadMore>
  </MobileNav>
</section>
<section class="user-content">
  {{outlet}}
</section>