<div class="topic-search-div">
  <div class="inline-form full-width">
    <Input
      class="no-blur"
      @value={{readonly this.search}}
      placeholder={{i18n "discourse_assign.topic_search_placeholder"}}
      autocomplete="off"
      @type="search"
      {{on "input" (action "onChangeFilter" value="target.value")}}
    />
  </div>
</div>

<LoadMore
  @class="paginated-topics-list"
  @selector=".paginated-topics-list .topic-list tr"
  @action={{action "loadMore"}}
>
  <BasicAssignedTopicList
    @topicList={{this.model}}
    @hideCategory={{this.hideCategory}}
    @showPosters={{this.showPosters}}
    @bulkSelectEnabled={{this.bulkSelectEnabled}}
    @canBulkSelect={{this.canBulkSelect}}
    @selected={{this.selected}}
    @hasIncoming={{this.hasIncoming}}
    @incomingCount={{this.incomingCount}}
    @showInserted={{action "showInserted"}}
    @tagsForUser={{this.tagsForUser}}
    @changeSort={{action "changeSort"}}
    @toggleBulkSelect={{action "toggleBulkSelect"}}
    @bulkSelectAction={{action "refresh"}}
    @unassign={{action "unassign"}}
    @reassign={{action "reassign"}}
    @onScroll={{this.saveScrollPosition}}
    @scrollOnLoad={{true}}
  />

  <ConditionalLoadingSpinner @condition={{this.model.loadingMore}} />
</LoadMore>