{{#if this.doesntHaveAssignments}}
  <EmptyState
    @title={{i18n "user.no_assignments_title"}}
    @body={{this.emptyStateBody}}
  />
{{else}}
  <div class="topic-search-div">
    <div class="inline-form full-width">
      <Input
        @value={{readonly this.search}}
        @type="search"
        {{on "input" (action "onChangeFilter" value="target.value")}}
        class="no-blur"
        placeholder={{i18n "discourse_assign.topic_search_placeholder"}}
        autocomplete="off"
      />
    </div>
  </div>

  <LoadMore
    @class="paginated-topics-list"
    @selector=".paginated-topics-list .topic-list tr"
    @action={{this.loadMore}}
  >
    <BasicAssignedTopicList
      @topicList={{this.model}}
      @hideCategory={{this.hideCategory}}
      @showPosters={{true}}
      @bulkSelectEnabled={{this.bulkSelectEnabled}}
      @selected={{this.selected}}
      @hasIncoming={{this.hasIncoming}}
      @incomingCount={{this.incomingCount}}
      @showInserted={{this.showInserted}}
      @tagsForUser={{this.tagsForUser}}
      @changeSort={{this.changeSort}}
      @unassign={{this.unassign}}
      @reassign={{this.reassign}}
      @onScroll={{this.saveScrollPosition}}
      @scrollOnLoad={{true}}
    />

    <ConditionalLoadingSpinner @condition={{this.model.loadingMore}} />
  </LoadMore>
{{/if}}