{{#if doesntHaveAssignments}}
  <EmptyState
    @title={{i18n "user.no_assignments_title"}}
    @body={{emptyStateBody}}
  />
{{else}}
  <div class="topic-search-div">
    <div class="inline-form full-width">
      {{input
        class="no-blur"
        value=(readonly search)
        placeholder=(i18n "discourse_assign.topic_search_placeholder")
        input=(action "onChangeFilter" value="target.value")
        autocomplete="discourse"
      }}
    </div>
  </div>

  {{#load-more class="paginated-topics-list" selector=".paginated-topics-list .topic-list tr" action=(action "loadMore")}}
    {{basic-assigned-topic-list
      topicList=model
      hideCategory=hideCategory
      showPosters=showPosters
      bulkSelectEnabled=bulkSelectEnabled
      selected=selected
      hasIncoming=hasIncoming
      incomingCount=incomingCount
      showInserted=(action "showInserted")
      tagsForUser=tagsForUser
      changeSort=(action "changeSort")
      unassign=(action "unassign")
      reassign=(action "reassign")
      onScroll=saveScrollPosition
      scrollOnLoad=true
    }}

    {{conditional-loading-spinner condition=model.loadingMore}}
  {{/load-more}}
{{/if}}
