{{#if show-avatar}}
  {{#link-to "group.assigned.show" filter.username_lower}}
    {{avatar filter avatarTemplatePath="avatar_template" usernamePath="username" imageSize="small"}}
    <span class="assign-count">({{filter.assignments_count}})</span>
    <span class="assign-name">{{displayName}}</span>
  {{/link-to}}
{{else}}
  {{#link-to "group.assigned.show" filter}}
    {{i18n 'discourse_assign.group_everyone'}} ({{assignment_count}})
  {{/link-to}}
{{/if}}
