{{#if show-avatar}}
  {{#link-to "group.assigned.show" filter.username_lower (query-params order=order ascending=ascending q=q)}}
    <a href={{filter.userUrl}} data-user-card={{filter.username}} class="assign-image">
      {{avatar filter imageSize="small"}}
    </a>
    <span class="assign-count">({{filter.assignments_count}})</span>
    <span class="assign-name">{{displayName}}</span>
  {{/link-to}}
{{else}}
  {{#link-to "group.assigned.show" filter (query-params order=order ascending=ascending q=q)}}
    {{i18n 'discourse_assign.group_everyone'}} ({{assignment_count}})
  {{/link-to}}
{{/if}}
