<td class="topic-list-data">
  <div class="main-link">
    <TopicStatus @topic={{this.topic}} />
    {{~#if this.isPrivateMessage}}
      {{~d-icon "envelope" class="private-message-icon"}}
    {{~/if}}
    {{~topic-link this.topic}}
    {{#if this.topic.unseen}}
      <span class="badge-notification new-topic"></span>
    {{/if}}
    {{#if this.topic.hasExcerpt}}
      <div class="topic-excerpt">
        {{html-safe this.topic.excerpt}}
        {{#if this.topic.excerptTruncated}}
          {{#unless this.topic.canClearPin}}<a href={{this.topic.url}}>{{i18n
                "read_more"
              }}</a>{{/unless}}
        {{/if}}
        {{#if this.topic.canClearPin}}
          <a
            href
            {{action "clearPin" this.topic}}
            title={{i18n "topic.clear_pin.help"}}
          >{{i18n "topic.clear_pin.title"}}</a>
        {{/if}}
      </div>
    {{/if}}
  </div>
  <div class="pull-right topic-list-num">
    {{#if this.topic.assigned_to_user}}
      <AssignActionsDropdown
        @topic={{this.topic}}
        @assignee={{this.topic.assigned_to_user.username}}
        @unassign={{this.unassign}}
        @reassign={{this.reassign}}
      />
    {{else if this.topic.assigned_to_group}}
      <AssignActionsDropdown
        @topic={{this.topic}}
        @assignee={{this.topic.assigned_to_group.name}}
        @group={{true}}
        @unassign={{this.unassign}}
        @reassign={{this.reassign}}
      />
    {{else}}
      <AssignActionsDropdown
        @topic={{this.topic}}
        @unassign={{this.unassign}}
      />
    {{/if}}
  </div>
  <div class="clearfix"></div>
  <div class="topic-item-stats clearfix">
    {{discourse-tags this.topic mode="list" tagsForUser=this.tagsForUser}}
    <div class="pull-right topic-list-num">
      {{raw
        "list/activity-column"
        topic=this.topic
        tagName="div"
        class="num activity last"
      }}
      <a
        href={{this.topic.lastPostUrl}}
        title="{{i18n 'last_post'}}: {{html-safe
          raw-date
          this.topic.bumped_at
        }}"
      >{{this.topic.last_poster_username}}</a>
    </div>
    {{#unless this.hideCategory}}
      <div class="category">
        {{category-link this.topic.category}}
      </div>
    {{/unless}}
    <div class="clearfix"></div>
  </div>
</td>