<ConditionalLoadingSpinner @condition={{this.loading}}>
  {{#if this.hasIncoming}}
    <div class="show-mores">
      <a
        href
        class="alert alert-info clickable"
        {{on "click" this.showInserted}}
      >
        <CountI18n
          @key="topic_count_"
          @suffix="latest"
          @count={{this.incomingCount}}
        />
      </a>
    </div>
  {{/if}}

  {{#if this.topics}}
    <table class="topic-list assigned-topic-list">
      <tbody class="topic-list-body assigned-topic-list-body">
        {{#each this.topics as |topic|}}
          <AssignedTopicListItem
            @topic={{topic}}
            @expandGloballyPinned={{this.expandGloballyPinned}}
            @expandAllPinned={{this.expandAllPinned}}
            @lastVisitedTopic={{this.lastVisitedTopic}}
            @selected={{this.selected}}
            @tagsForUser={{this.tagsForUser}}
            @unassign={{this.unassign}}
            @reassign={{this.reassign}}
          />
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="alert alert-info">
      {{i18n "choose_topic.none_found"}}
    </div>
  {{/if}}
</ConditionalLoadingSpinner>