{{#conditional-loading-spinner condition=loading}}
  {{#if hasIncoming}}
    <div class="show-mores">
      <a href class="alert alert-info clickable" {{action showInserted}}>
        {{count-i18n key="topic_count_" suffix="latest" count=incomingCount}}
      </a>
    </div>
  {{/if}}

  {{#if topics}}
    <table class="topic-list">
      <tbody>
        {{#each topics as |t|}}
          {{assigned-topic-list-item
            topic=t
            expandGloballyPinned=expandGloballyPinned
            expandAllPinned=expandAllPinned
            lastVisitedTopic=lastVisitedTopic
            selected=selected
            tagsForUser=tagsForUser
            unassign=unassign
            reassign=reassign
          }}
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="alert alert-info">
      {{i18n "choose_topic.none_found"}}
    </div>
  {{/if}}
{{/conditional-loading-spinner}}
