{{#if this.siteSettings.enable_assign_status}}
  <div class="control-group assign-status">
    <label>{{i18n "discourse_assign.assign_modal.status_label"}}</label>
    <ComboBox
      @id="assign-status"
      @content={{this.assignStatusOptions}}
      @value={{this.status}}
      @onChange={{fn (mut @status)}}
    />
  </div>
{{/if}}

<div class="control-group assign-status">
  <label>
    {{i18n "discourse_assign.assign_modal.note_label"}}&nbsp;<span class="label-optional"
  >{{i18n "discourse_assign.assign_modal.optional_label"}}</span>
  </label>

  <Textarea
    id="assign-modal-note"
    @value={{@note}}
    {{on "keydown" this.handleTextAreaKeydown}}
  />
</div>

