{{!
  The `~` syntax strip spaces between the elements, making it produce
  `<a class=topic-post-badges>Some text</a><span class=topic-post-badges>`,
  with no space between them.
  This causes the topic-post-badge to be considered the same word as "text"
  at the end of the link, preventing it from line wrapping onto its own line.
}}
{{#if this.bulkSelectEnabled}}
  <td class="bulk-select topic-list-data">
    <input type="checkbox" class="bulk-select" />
  </td>
{{/if}}
<td class="main-link clearfix topic-list-data" colspan="1">
  <span class="link-top-line">
    {{~raw "topic-status" topic=this.topic}}
    {{~#if this.isPrivateMessage}}
      {{~d-icon "envelope" class="private-message-icon"}}
    {{~/if}}
    {{~topic-link this.topic class="raw-link raw-topic-link"}}
    {{~#if this.topic.featured_link}}
      {{~topic-featured-link this.topic}}
    {{~/if}}
    {{~#if this.showTopicPostBadges}}
      {{~raw
        "topic-post-badges"
        unread=this.topic.unread
        unseen=this.topic.unseen
        url=this.topic.lastUnreadUrl
        newDotText=this.newDotText
      }}
    {{~/if}}
  </span>
  <div class="link-bottom-line">
    {{#unless this.hideCategory}}
      {{#unless this.topic.isPinnedUncategorized}}
        {{category-link this.topic.category}}
      {{/unless}}
    {{/unless}}
    {{discourse-tags this.topic mode="list" tagsForUser=this.tagsForUser}}
    {{raw
      "list/action-list"
      topic=this.topic
      postNumbers=this.topic.liked_post_numbers
      className="likes"
      icon="heart"
    }}
  </div>
  {{#if this.expandPinned}}
    {{raw "list/topic-excerpt" topic=this.topic}}
  {{/if}}
</td>

{{#if this.showPosters}}
  {{raw "list/posters-column" posters=this.topic.featuredUsers}}
{{/if}}

{{raw "list/posts-count-column" topic=this.topic}}

<td class="num views {{this.topic.viewsHeat}} topic-list-data">{{number
    this.topic.views
    numberKey="views_long"
  }}</td>
{{raw
  "list/activity-column"
  topic=this.topic
  class="num topic-list-data"
  tagName="td"
}}
<td class="topic-list-data">
  {{#if this.topic.assigned_to_user}}
    <AssignActionsDropdown
      @topic={{this.topic}}
      @assignee={{this.topic.assigned_to_user.username}}
      @unassign={{this.unassign}}
      @reassign={{this.reassign}}
    />
  {{else if this.topic.assigned_to_group}}
    <AssignActionsDropdown
      @topic={{this.topic}}
      @assignee={{this.topic.assigned_to_group.name}}
      @group={{true}}
      @unassign={{this.unassign}}
      @reassign={{this.reassign}}
    />
  {{else}}
    <AssignActionsDropdown @topic={{this.topic}} @unassign={{this.unassign}} />
  {{/if}}
</td>