<div class="control-group {{if this.assigneeError 'assignee-error'}}">
  <label>{{i18n "discourse_assign.assign_modal.assignee_label"}}</label>
  <AssigneeChooser
    autocomplete="off"
    @id="assignee-chooser"
    @value={{this.assigneeName}}
    @onChange={{this.assignUsername}}
    @showUserStatus={{true}}
    @options={{hash
      mobilePlacementStrategy="absolute"
      includeGroups=true
      customSearchOptions=(hash
        assignableGroups=true defaultSearchResults=this.taskActions.suggestions
      )
      groupMembersOf=this.taskActions.allowedGroups
      maximum=1
      tabindex=1
      expandedOnInsert=(not this.assigneeName)
      caretUpIcon="search"
      caretDownIcon="search"
    }}
  />

  {{#if this.assigneeError}}
    <span class="error-label">
      {{d-icon "exclamation-triangle"}}
      {{i18n "discourse_assign.assign_modal.choose_assignee"}}
    </span>
  {{/if}}
</div>

{{#if this.siteSettings.enable_assign_status}}
  <div class="control-group assign-status">
    <label>{{i18n "discourse_assign.assign_modal.status_label"}}</label>
    <ComboBox
      @id="assign-status"
      @content={{this.availableStatuses}}
      @value={{this.status}}
      @onChange={{fn (mut @model.status)}}
    />
  </div>
{{/if}}

<Assignment />