<ConditionalLoadingSpinner @condition={{loading}}>
  {{#if hasIncoming}}
    <div class="show-mores">
      <a href class="alert alert-info clickable" {{action showInserted}}>
        <CountI18n
          @key="topic_count_"
          @suffix="latest"
          @count={{incomingCount}}
        />
      </a>
    </div>
  {{/if}}

  {{#if topics}}
    <AssignedTopicList
      @showPosters={{showPosters}}
      @hideCategory={{hideCategory}}
      @topics={{topics}}
      @expandExcerpts={{expandExcerpts}}
      @bulkSelectEnabled={{bulkSelectEnabled}}
      @canBulkSelect={{canBulkSelect}}
      @bulkSelectAction={{bulkSelectAction}}
      @selected={{selected}}
      @skipHeader={{skipHeader}}
      @tagsForUser={{tagsForUser}}
      @changeSort={{changeSort}}
      @toggleBulkSelect={{toggleBulkSelect}}
      @unassign={{unassign}}
      @reassign={{reassign}}
      @onScroll={{onScroll}}
      @scrollOnLoad={{scrollOnLoad}}
    />
  {{else}}
    {{#unless loadingMore}}
      <div class="alert alert-info">
        {{i18n "choose_topic.none_found"}}
      </div>
    {{/unless}}
  {{/if}}
</ConditionalLoadingSpinner>