<div class="control-group">
  <label>{{i18n "discourse_assign.assign_modal.assignment_label"}}</label>
  <ComboBox
    @value={{this.selectedTargetId}}
    @content={{@assignments}}
    @onChange={{this.synchronizeAssignee}}
  />
</div>
<Assignment
  @assignment={{this.topicAssignment}}
  @onSubmit={{this.submit}}
  @showValidationErrors={{false}} />